.wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  img {
    overflow: hidden;
    border-radius: 0.4em;
  }
  figcaption {
    color: var(--primary);
  }
}
