.desc{
  display: inline-block;
  color: var(--textTintedBold);
  font-size: 0.8em;
}

.borderB{
  display: inline-block;
  font-size: 38px;
  margin-bottom: 0;
  border-bottom: 2px solid var(--primary);
}
.cardBox{
  display: flex;
  flex-wrap: wrap;
  margin: 26px 0;
  padding: 0 15px;
}