// 能力有限，本网站不兼容移动端
.DemoBox {
  width: 100%;
  height: 100%;
}
.flexSmall{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// .imgBox{
//   width: 50px;
//   height: 50px;
//   image{
//     width: 100%;
//     height: 100%;
//   }
// }
.desc{
  margin-top: 12px;
  color: var(--textTinted);
  font-size: 12px;
}
.flexLarge{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content{
  margin: 0 12px;
  flex-grow: 1;
}
.input {
  width: 300px;
  max-width: 100%;
  // margin-left: 30px;
  padding-left: 10px;
  transition: all 150ms ease-out;
  &:hover,
  &:active,
  &:focus {
    border-color: var(--brand);
    outline: none;
    box-shadow: 0 0 0 4px var(--brandTinted);
  }
}

.inputWrapper {
  position: relative;
  width: 70%;
}

.inputIcon {
  position: absolute;
  top: 55%;
  right: -25px;
  width: 18px;
  transform: translateY(calc(-50% - 1px));

  circle,
  line {
    opacity: 0.6;
    stroke: var(--text);
  }
}
.itemCard {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
  border-radius: 8px;
  border: 1px solid var(--border);
}
.list {
  padding: 10px 8px;
  max-height: 300px;
  // overflow-y: scroll;
}
.minimize{
  width: 30px;
  height: 30px;
  color: var( --textTinted);
}